.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


nav{
  display:flex;
  justify-content:space-around;
  align-items:center;
  min-height:10vh;  
  background:rgb(1, 8, 102);
  color:white;
}

.nav-links{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

ul{
  list-style-type: none;
}

table, th, tr, td {
  border: 1px solid black;
}

td {
  text-align: left;
}

table th {
  color: white;
  background-color: black;
}

table.center {
  margin-left:auto; 
  margin-right:auto;
}

.btn-group button {
  background-color: #4CAF50; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}